<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    <meta name="author" content="{{ site.name }}" />
    <meta name="description" content="{{ site.description }}">

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />


    <!-- Styles -->
    <link href="http://kittysplit.com/stylesheets/bootstrap.css?v=1" rel="stylesheet" type="text/css">
    <link href="http://kittysplit.com/stylesheets/kitty_styles.css?v=1" rel="stylesheet" type="text/css">
    
    <style> 
        /* hack, should be fixed properly */
        #wrap {margin: 0 auto -70px;}
    </style>
</head>
<body >
    <div id="wrap">
        <div id="top-nav" class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <a href="/blog/" class="logo"></a>
                            <a href="/blog/"><span class="white-text logo-text">Kittysplit Blog</span></a>
                            <span class="pull-right">
                              <a href="http://www.kittysplit.com/"><span class="white-text logo-text">Kittysplit.com »</span></a>
                            </span>
                   
                        </div><!-- End .col-xs-12 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .navbar-inner-header -->
        </div><!-- End .navbar -->

        <div id="main" role="main" class="container">
          {{ content }}
        </div>


        <div id="push"></div> <!-- Required to push footer at bottom with being fied */ -->
    </div>
 
    <div class="main-footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="main-footer-group pull-left">
                        <img src="http://kittysplit.com/static/logos/footerIcon.png">
                        <span class="kitty-stamp">Kittysplit</span><span class="kitty-stamp gbr">©2015 Kittysplit GbR</span>
                    </div>

                    <div class="main-footer-group pull-right">
                        <a href="http://www.kittysplit.com/blog.html" class="footer-links">About</a>
                        <a href="http://www.kittysplit.com/legal.html" class="footer-links">Legal</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include analytics.html %}
</body>
</html>
